.bck-img{
    background-image: url(imagens/Green-leaves-after-rain-water-drops_3840x2160.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bck-txt{
    background-color: rgb(255, 255, 255);
    padding: 2em;
    border-radius: 2em;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;  
    padding-bottom: 3em;
}

p{
    color: black;
    font-size: 1.25em;
}

.my-carousel{
    width: 67%;
    height: 50%;
}

#bck-sobre{
    margin-right: 10%;
    margin-left: 10%;
    min-width: 50%;
    min-height: 50%;
}

#sobre{
    width: 30%;
    height: 30%;
}

p{
    text-indent: 30px;
}

@media (max-width: 768px) {
    p{
    font-size: 14px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    p{
    font-size: 16px;
    }
  }

.leg{
    margin-top: 5px;
}

h6{
    font-size: 15px;
}

figcaption{
    margin-top: 1px;
    color: #757575d6;
    font-style: italic;
}

.item_container_bottom{
    background-color: #328737;
    width: 100%;
    height: 5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
    bottom: 0;
    margin-top: 3em;
}

h5{
    color:#ffff;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
}

#footer-sobre{
    position: fixed;
    bottom: 0%;
}

#ref{
    text-align: justify;
}

